[submodule "LearnSQL"]
	path = LearnSQL
	url = git@github.com:HuakunShen/LearnSQL.git
[submodule "LearnGo"]
	path = LearnGo
	url = git@github.com:HuakunShen/LearnGo.git
[submodule "LearnAI"]
	path = LearnAI
	url = git@github.com:HuakunShen/LearnAI.git
[submodule "LearnOS"]
	path = LearnOS
	url = git@github.com:HuakunShen/LearnOS.git
[submodule "LearnSystemDesign"]
	path = LearnSystemDesign
	url = git@github.com:HuakunShen/LearnSystemDesign.git
[submodule "LearnAlgorithm"]
	path = LearnAlgorithm
	url = git@github.com:HuakunShen/LearnAlgorithm.git
[submodule "LearnDesignPattern"]
	path = LearnDesignPattern
	url = git@github.com:HuakunShen/LearnDesignPattern.git
[submodule "LearnDocker"]
	path = LearnDocker
	url = git@github.com:HuakunShen/LearnDocker.git
[submodule "LearnWeb"]
	path = LearnWeb
	url = git@github.com:HuakunShen/LearnWeb.git
[submodule "LearnWebScraping"]
	path = LearnWebScraping
	url = git@github.com:HuakunShen/LearnWebScraping.git
[submodule "LearnPenetrationTesting"]
	path = LearnPenetrationTesting
	url = git@github.com:HuakunShen/LearnPenetrationTesting.git
[submodule "LearnHacking"]
	path = LearnHacking
	url = git@github.com:HuakunShen/LearnHacking.git
[submodule "LearnReverseEngineering"]
	path = LearnReverseEngineering
	url = git@github.com:HuakunShen/LearnReverseEngineering.git
[submodule "LearnTools"]
	url = git@github.com:HuakunShen/LearnTools.git
[submodule "LearnBlockchain"]
	path = LearnBlockchain
	url = git@github.com:HuakunShen/LearnBlockchain.git
